<div>
  <p-button label="Approval Title" (click)="addTransaction()" styleClass="ui-button-info"></p-button>&nbsp;&nbsp;
</div>
<br><br>
<b>My Profile</b>
<p-table [autoLayout]="true" [resizableColumns]="true" [columns]="cols" [value]="allParticipants">
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngFor="let col of columns">
        {{col.header}}
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns">
    <tr>
      <td *ngFor="let col of columns">
        {{rowData[col.field]}}
      </td>
    </tr>
  </ng-template>
</p-table>
<br><br>
<div  *ngIf="allAssets.length > 0">
  <b>Property Listing</b>
  <p-table [autoLayout]="true" [resizableColumns]="true" [columns]="propertyCols" [value]="allAssets">
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns">
          {{col.header}}
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr>
        <td *ngFor="let col of columns">
          {{rowData[col.field]}}
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
<div *ngIf="allSaleAgreement.length > 0">
  <b>Sale Agreement</b>
  <p-table [autoLayout]="true" [resizableColumns]="true" [columns]="agreementCols" [value]="allSaleAgreement" [(selection)]="selectedAgreement" dataKey="saleAgreementID">
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th style="width: 2.25em"></th>
        <th *ngFor="let col of columns">
          {{col.header}}
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr [pSelectableRow]="rowData">
        <td>
          <p-tableRadioButton [value]="rowData"></p-tableRadioButton>
        </td>
        <td *ngFor="let col of columns">
          {{rowData[col.field]}}
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
<br><br>
<div  *ngIf="allDeeds.length > 0">
  <b>Deeds</b>
  <p-table [autoLayout]="true" [resizableColumns]="true" [columns]="deedCols" [value]="allDeeds">
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns">
          {{col.header}}
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr>
        <td *ngFor="let col of columns">
          {{rowData[col.field]}}
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
<div  *ngIf="allTransactions.length > 0">
  <b>Transactions</b>
  <p-table [autoLayout]="true" [resizableColumns]="true" [columns]="transactionCols" [value]="allTransactions">
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th style="width: 80px" *ngFor="let col of columns">
          {{col.header}}
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr>
        <td *ngFor="let col of columns">
          {{rowData[col.field]}}
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
