<div *ngIf=(errorMessage)>
  <p-message severity="error" text="{{errorMessage}}" life="3000" closable="false"></p-message>
</div>


<br><br>
<div *ngIf="allParticipants.length>0" id="containerBox">
  <div id="success-box">
    <div class="face">
      <div class="eye"></div>
      <div class="eye right"></div>
      <div class="mouth happy"></div>
    </div>
    <div class="shadow scale"></div>
    <div class="message"><h1 class="alert">Hi {{allParticipants[0].name}}</h1>
      <p>Your ID is {{allParticipants[0].notaryID}}. You are a Notary.</p>
      <p>{{allParticipants[0].emailAddress}}, {{allParticipants[0].address}}</p></div>

  </div>
</div>
<br><br>
<div>

  <p-button label="Approve Land Title" [disabled]="!selectedAgreement"(click)='addTransaction()'></p-button>
</div>
<br><br>
<p-tabView  *ngIf="allParticipants.length>0" orientation="left">
  <p-tabPanel *ngIf="allAssets.length > 0" header="Property Listing">

    <p-table [autoLayout]="true" [resizableColumns]="true" [columns]="propertyCols" [value]="allAssets">
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of columns" [pSortableColumn]="col.field">
            {{col.header}}
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
          <td *ngFor="let col of columns">
            {{rowData[col.field]}}
          </td>
        </tr>
      </ng-template>
    </p-table>
  </p-tabPanel>
  <p-tabPanel *ngIf="allSaleAgreement.length > 0" header="Sale Agreement">
    <div>
      <p-table [autoLayout]="true" [resizableColumns]="true" [columns]="agreementCols" [value]="allSaleAgreement" [(selection)]="selectedAgreement" dataKey="saleAgreementID">
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th style="width: 2.25em"></th>
            <th *ngFor="let col of columns" [pSortableColumn]="col.field">
              {{col.header}}
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
          <tr [pSelectableRow]="rowData">
            <td>
              <p-tableRadioButton [value]="rowData"></p-tableRadioButton>
            </td>
            <td *ngFor="let col of columns">


              {{rowData[col.field]}}


            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </p-tabPanel>
  <p-tabPanel *ngIf="allDeeds.length > 0" header="Deeds">
    <div>
      <p-table [autoLayout]="true" [resizableColumns]="true" [columns]="deedCols" [value]="allDeeds">
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th *ngFor="let col of columns" [pSortableColumn]="col.field">
              {{col.header}}
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
          <tr>
            <td *ngFor="let col of columns">
              {{rowData[col.field]}}
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </p-tabPanel>
  <p-tabPanel *ngIf="allTransactions.length > 0" header="Transactions">
    <div>
      <p-table [autoLayout]="true"  [paginator]="true" [rows]="5" scrollHeight="200px" [resizableColumns]="true" [columns]="transactionCols" [value]="allTransactions">
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th *ngFor="let col of columns" [pSortableColumn]="col.field">
              {{col.header}}
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
          <tr>
            <td *ngFor="let col of columns">
              <span *ngIf="col.field==='transactionId'"><button type="text" pButton label="{{rowData[col.field]}}" (click)="openDialog(rowData)"></button></span>
              <span *ngIf="col.field !=='transactionId'">{{rowData[col.field]}}</span>

            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </p-tabPanel>
</p-tabView>
<p-dialog header="Transaction Detail" minWidth="800" [responsive]="true" [(visible)]="displayTransaction">
  <div class="ui-g-12" *ngFor="let col of transactionCols">
    <div class="ui-g-4">
      {{col.header}}
    </div>
    <div class="ui-g-8">
      {{rowData[col.field]}}
    </div>
  </div>
</p-dialog>

