

<!--
<div class="bg-img">
  <img _ngcontent-cyu-4="" alt="75x75" class="rounded-circle mx-auto d-block" data-holder-rendered="true" data-src="holder.js/75x75" src="https://pbs.twimg.com/profile_images/846189638314328068/05SA_CcY_400x400.jpg" style="width: 150px;height: 150px;">
 <br>
  <button type="button" class="btn btn-primary btn-lg  mx-auto d-block">Learn Angular 4!</button>
</div>
-->

<div id="main" class="is-loading">
  <h1>
    <div class = "title">
      REAL ESTATE LEDGER </div>
    <div class="entry-social">
      <div class="linkedin">
        <a href="http://ec2-35-172-232-47.compute-1.amazonaws.com:3000/auth/linkedin" target="_blank">Linkedin</a>
      </div>
    </div>
  </h1>

</div>
