

<!--
<div class="bg-img">
  <img _ngcontent-cyu-4="" alt="75x75" class="rounded-circle mx-auto d-block" data-holder-rendered="true" data-src="holder.js/75x75" src="https://pbs.twimg.com/profile_images/846189638314328068/05SA_CcY_400x400.jpg" style="width: 150px;height: 150px;">
 <br>
  <button type="button" class="btn btn-primary btn-lg  mx-auto d-block">Learn Angular 4!</button>
</div>
-->

<!--<div id="main" class="is-loading">
  <h1>
    <div class = "title">
      REAL ESTATE LEDGER </div>
    <div class="entry-social">
      <div class="linkedin">
        <a href="http://ec2-35-172-232-47.compute-1.amazonaws.com:3000/auth/linkedin" target="_blank">Linkedin</a>
      </div>
    </div>
  </h1>

</div>-->






<div class="gtco-loader"></div>

<div id="page">
  <nav class="gtco-nav" role="navigation">
    <div class="container">
      <div class="row">
        <div class="col-sm-2 col-xs-12">
          <div id="gtco-logo"><a href="">Housing<em>Ledger</em></a></div>
        </div>
        <div class="col-xs-10 text-right menu-1 main-nav">
          <ul>
            <li class="active"><a href="#" data-nav-section="home">Home</a></li>
            <li><a href="#" data-nav-section="about">About</a></li>
            <li><a href="#" data-nav-section="practice-areas">Features</a></li>
            <li><a href="#" data-nav-section="contact"><span>Why Blockchain</span></a></li>
            <li><a href="#" data-nav-section="our-team">Solutions</a></li>
            <li><a href="#" data-nav-section="our-journey">Extended Journey</a></li>
            <!-- For external page link -->
            <!-- <li><a href="http://freehtml5.co/" class="external">External</a></li> -->
          </ul>
        </div>
      </div>

    </div>
  </nav>

  <section id="gtco-hero" class="gtco-cover" style="background-image: url(../../assets/images/landing.jpg);"  data-section="home"  data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-md-offset-0 text-center">
          <div class="display-t">
            <div class="display-tc">
              <h1 class="animate-box" data-animate-effect="fadeIn">Real Estate Blockchain</h1>
              <iframe style="border: solid 1px navajowhite;" class="gtco-video-link animate-box popup-vimeo"  data-animate-effect="fadeIn" src="https://www.youtube.com/embed/uMDv11gC-WI?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
             <!-- <p class="gtco-video-link animate-box" data-animate-effect="fadeIn"><a href="https://vimeo.com/channels/staffpicks/93951774" class="popup-vimeo"><i class="icon-controller-play"></i></a></p>
             --> <div class="entry-social">
                <div class="linkedin">
                  <a href="http://ec2-35-172-232-47.compute-1.amazonaws.com:3000/auth/linkedin" target="_blank">Linkedin</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="gtco-about" data-section="about">
    <div class="container">
      <div class="row row-pb-md">
        <div class="col-md-8 col-md-offset-2 heading animate-box" data-animate-effect="fadeIn">
          <h1>Welcome to Housing Ledger</h1>
          <p><i>"The most influential parties in the network, knowingly or unknowingly will create a bias which
            may or may not be in the best interest of the rest of the parties in that network"</i></p>
          <p class="sub">- Shailesh Bhujbal</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-md-pull-1 animate-box" data-animate-effect="fadeInLeft">

            <img src="../../assets/images/Process.PNG" class="img-responsive" alt="Free HTML5 Bootstrap Template by FreeHTML5.co">

        </div>
        <div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
          <h2 class="heading-colored">How Real Estate Ledger Works?</h2>
          <p>In the proposed process all the participants are given a unique ID and their details will be attached to that ID. Then the seller can list the property for sale which gets added to the asset registry. Buyer can go through the property listing and creates a sale agreement for the property that he/she is interested in.  The proposed sale agreement can be verified by the seller and can sign the sale agreement. Once the sale agreement is signed by both the parties the tile can now be purchased and the notary creates a new deed for the property and approves the purchases</p>
        </div>
      </div>
    </div>
  </section>

  <section id="gtco-practice-areas" data-section="practice-areas">
    <div class="container">
      <div class="row row-pb-md">
        <div class="col-md-8 col-md-offset-2 heading animate-box" data-animate-effect="fadeIn">
          <h1>What We Offer</h1>
          <p class="sub"> Each record in the ledger is time-stamped, is immutable and independently verifiable. Our blockchain secured data has provable integrity because the data is attributed to an irrefutable identity, is validated by all copies of the ledger, is always available, and can never be changed.</p>
          <p class="subtle-text animate-box" data-animate-effect="fadeIn">Features</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="gtco-practice-area-item animate-box">
            <div class="gtco-icon">
              <img class="icon-image" src="../../assets/justice/images/ux.png" alt="Free HTML5 Bootstrap Template by FreeHTML5.co">
            </div>
            <div class="gtco-copy">
              <h3>User Experience</h3>
              <p>Easy transfer of assets. Titles are securely tracked and transactions are recorded</p>
            </div>
          </div>

          <div class="gtco-practice-area-item animate-box">
            <div class="gtco-icon">
              <img class="icon-image" src="../../assets/justice/images/safe.png" alt="Free HTML5 Bootstrap Template by FreeHTML5.co">
            </div>
            <div class="gtco-copy">
              <h3>Easy, Complete and Safe</h3>
              <p>Optimized for long-term performance, scalability and efficient management</p>
            </div>
          </div>

          <div class="gtco-practice-area-item animate-box">
            <div class="gtco-icon">
              <img class="icon-image" src="../../assets/justice/images/regulatory.png" alt="Free HTML5 Bootstrap Template by FreeHTML5.co">
            </div>
            <div class="gtco-copy">
              <h3>Independent Verification</h3>
              <p>Data records can be verified without reliance on chain of custody, security of keys or any trusted human or organization</p>
            </div>
          </div>

        </div>
        <div class="col-md-6">

          <div class="gtco-practice-area-item animate-box">
            <div class="gtco-icon">
              <img class="icon-image" src="../../assets/justice/images/scale.png" alt="Free HTML5 Bootstrap Template by FreeHTML5.co">
            </div>
            <div class="gtco-copy">
              <h3>Regulatory Transperancy</h3>
              <p>With an independent and granular audit trail for all stored data, regulators get independent and indisputable proof that the stored data has not been modified</p>
            </div>
          </div>

          <div class="gtco-practice-area-item animate-box">
            <div class="gtco-icon">
              <img class="icon-image" src="../../assets/justice/images/portability.jpg" alt="Free HTML5 Bootstrap Template by FreeHTML5.co">
            </div>
            <div class="gtco-copy">
              <h3>Portability of Evidence</h3>
              <p>Stored files and transactions can be verified electronically and individually even if they were transferred elsewhere</p>
            </div>
          </div>

          <div class="gtco-practice-area-item animate-box">
            <div class="gtco-icon">
              <img class="icon-image" src="../../assets/justice/images/safe.jpg" alt="Free HTML5 Bootstrap Template by FreeHTML5.co">
            </div>
            <div class="gtco-copy">
              <h3>Protection Against Insider Attacks</h3>
              <p>Prevents accidental and malicious tampering or alteration of data from going unnoticed.</p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>


  <section id="gtco-practice-areas" data-section="contact">
    <div class="container">
      <div class="row row-pb-md">
        <div class="col-md-8 col-md-offset-2 heading animate-box" data-animate-effect="fadeIn">
          <h1>Unlock the potential of Blockchain Technology</h1>
          <p class="sub">Blockchain technology has significant potential to drive transparency, efficiency, and cost savings for owners by removing many of the existing inefficiencies in key processes.</p>
          <p class="subtle-text animate-box" data-animate-effect="fadeIn">Blockchain Potential</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="gtco-practice-area-item animate-box">
            <div class="gtco-icon">
              <img class="icon-image" src="../../assets/justice/images/sharedrepo.png" alt="Free HTML5 Bootstrap Template by FreeHTML5.co">
            </div>
            <div class="gtco-copy">
              <h3>Shared Repository</h3>
              <p>Repository of information is used by multiple parties. Ledger that stores Property Title assets in which an owner and owned assets are tracked and shared with other internal/ external parties</p>
            </div>
          </div>

          <div class="gtco-practice-area-item animate-box">
            <div class="gtco-icon">
              <img class="icon-image" src="../../assets/justice/images/minimaltrust.png" alt="Free HTML5 Bootstrap Template by FreeHTML5.co">
            </div>
            <div class="gtco-copy">
              <h3>Minimal trust</h3>
              <p>A level of mistrust exists between entities that generate transactions. Multiple parties within the sale arrangement (e.g. importer, exporter, issuing bank, receiving bank, correspondent banks and customs) that do not “trust” each other and, therefore, institute layers of verification and impose collateral requirements</p>
            </div>
          </div>
        </div>
        <div class="col-md-6">

          <div class="gtco-practice-area-item animate-box">
            <div class="gtco-icon">
              <img class="icon-image" src="../../assets/justice/images/multiplewriters.png" alt="Free HTML5 Bootstrap Template by FreeHTML5.co">
            </div>
            <div class="gtco-copy">
              <h3>Multiple Writers</h3>
              <p> More than one entity generates transactions that require modifications to the shared repository. In the Property Network system there can be millions of end users transacting</p>
            </div>
          </div>

          <div class="gtco-practice-area-item animate-box">
            <div class="gtco-icon">
              <img class="icon-image" src="../../assets/justice/images/intermediary.png" alt="Free HTML5 Bootstrap Template by FreeHTML5.co">
            </div>
            <div class="gtco-copy">
              <h3>Intermediaries</h3>
              <p>One (or multiple) intermediary or a central gatekeeper is present to enforce trust. Reduce or remove the importance of a central intermediary, whose primary role is to provide “trust” to the post‐trade ecosystem</p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>

  <section id="gtco-our-team" data-section="our-team">
    <div class="container">
      <div class="row row-pb-md">
        <div class="col-md-8 col-md-offset-2 heading animate-box" data-animate-effect="fadeIn">
          <h1>Solutions</h1>
          <p class="sub"></p>
          <p class="subtle-text animate-box" data-animate-effect="fadeIn">Solutions</p>
        </div>
      </div>
      <div class="row team-item gtco-team-reverse">
        <div class="col-md-6 col-md-push-7 animate-box" data-animate-effect="fadeInRight">
            <img src="../../assets/justice/images/takeaway.PNG" style="margin-left: -30px;" class="img-responsive" alt="Free HTML5 Bootstrap Template by FreeHTML5.co">

        </div>
        <div class="col-md-6  col-md-pull-6 animate-box" data-animate-effect="fadeInRight">
          <h2>Key Takeaways</h2>
          <ul>
            <li>
              The blockchain enables real-time settlements of the recorded transactions.
            </li>
            <li>
              The ledger is uncensored and the transactions are immutable.
            </li>
            <li>
              The blockchain speeds up the process of title transfer and verified by using smart contracts.
            </li>
            <li>
              Smart contracts can also help eliminate real estate fraud. False listings, forged documents and rental scams will all be nearly impossible when digital ownership is linked directly to a property on the blockchain.
            </li>

            <li>Ensure transparency and authenticity in the assets we trade, purchase and sell globally</li>
            <li>Protect the provenance of high value assets</li>
          </ul>
        </div>
      </div>


    </div>
  </section>
  <section id="gtco-our-team" data-section="our-journey">
    <div class="container">
      <div class="row row-pb-md">
        <div class="col-md-8 col-md-offset-2 heading animate-box" data-animate-effect="fadeIn">
          <h1>Extended Journey</h1>
          <p class="sub"></p>
          <p class="subtle-text animate-box" data-animate-effect="fadeIn">Extended Journey</p>
        </div>
      </div>

      <div class="row team-item gtco-team">
        <div class="col-md-6 col-md-pull-1 animate-box"  data-animate-effect="fadeInLeft">
          <div class="main-container">
            <section id="timeline" class="timeline-outer">
              <div class="container" id="content">
                <div class="row">
                  <div class="col s12 m12 l12">
                    <ul class="timeline">
                      <li class="event" data-date="Jun 2018">
                        <h3>Authentication</h3>
                        <p>
                        <ul><li>Prior due diligence of the property title before creating the property listing</li><li>Verification of the seller by Tax Id</li></ul>

                      </li>
                      <li class="event" data-date="Oct 2018">
                        <h3>Digitization</h3>
                        <p>
                        <ul><li>Decentralized Id for the users</li><li>Digitalization of the property title</li></ul>
                        <ul><li>Attachment of property title document to the ledger</li></ul>

                      </li>
                      <li class="event" data-date="Jan 2019">
                        <h3>Payments Solutions</h3>
                        <ul><li>Automated payments and cash flow management using the smart contrac</li></ul>
                        <ul><li>Bank will be added to the network.</li></ul>
                        <ul><li>Loan documents and closing agreement using smart contracts</li></ul>

                      </li>
                      <li class="event" data-date="Apr 2019">
                        <h3>Features</h3>
                        <p>
                        <ul><li>Integration of Hyperledger Explorer</li><li>Real time analytics on the blockchain</li></ul>

                      </li>

                    </ul>
                  </div>
                </div>
              </div>
            </section>
            <br/>
          </div>  </div>


      </div>

    </div>
  </section>



  <footer id="gtco-footer" role="contentinfo">
    <div class="container">

      <div class="row copyright">
        <div class="col-md-12">
          <p class="pull-left">
            <small class="block">housingledger.com&copy; 2018. All Rights Reserved.</small>
          </p>
          <p class="pull-right">
          <ul class="gtco-social-icons pull-right">
            <li><a href="#"><i class="icon-twitter"></i></a></li>
            <li><a href="#"><i class="icon-facebook"></i></a></li>
            <li><a href="#"><i class="icon-linkedin"></i></a></li>
            <li><a href="#"><i class="icon-dribbble"></i></a></li>
          </ul>
        </div>
      </div>

    </div>
  </footer>
</div>

<div class="gototop js-top">
  <a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
</div>


